@theme {
    --primary-bg: #FA8843;
    --black-text: #000000;
    --white-text: #ffffff;
    --button-links: #FAA843;
    --secound-bg: #FAF1DD;

}
.container{
    @apply max-w-screen-lg mx-auto p-2 flex text-(--white-text) bg-(--primary-bg);
    background-color: var(--primary-bg);
}
header {
    @apply flex-auto
}

h1 {
    @apply font-sans text-4xl font-bold
}

.header-links{
    @apply text-xs
}

a{
    @apply hover:underline
}